button,
hr,
img,
legend {
    border: 0
}

legend,
td,
th {
    padding: 0
}

address,
table {
    margin: 0 0 1.5em
}

pre,
textarea {
    overflow: auto
}

embed,
iframe,
img,
object,
pre {
    max-width: 100%
}

h4,
h5 {
    letter-spacing: .65px
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    transition: color .3s ease-in-out
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

cite,
dfn,
em,
i {
    font-style: italic
}

mark {
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    height: auto
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box;
    background-color: #ccc;
    height: 1px;
    margin-bottom: 1.5em
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible;
    background: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

dt,
optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both
}

blockquote {
    margin: 0 1.5em
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    padding: 1.6em
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: .9375rem
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins,
mark {
    background: #fff9c0;
    text-decoration: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: ""
}

blockquote,
q {
    quotes: "" ""
}

dd {
    margin: 0 1.5em 1.5em
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.flex_vertical_center,
.mas_row {
    display: -webkit-flex;
    display: -ms-flexbox
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400
}

@font-face {
    font-family: canela;
    src: url(../fonts/canela/thin/Canela-Thin-Web.eot);
    src: url(../fonts/canela/thin/Canela-Thin-Web.eot?#iefix) format("embedded-opentype"), url(../fonts/canela/thin/Canela-Thin-Web.woff2) format("woff2"), url(../fonts/canela/thin/Canela-Thin-Web.woff) format("woff");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: none
}

@font-face {
    font-family: gt-america-regular;
    src: url(../fonts/gt-america/regular/GT-America-Expanded-Regular.eot) format("embedded-opentype"), url(../fonts/gt-america/regular/GT-America-Expanded-Regular.otf) format("opentype"), url(../fonts/gt-america/regular/GT-America-Expanded-Regular.woff) format("woff"), url(../fonts/gt-america/regular/GT-America-Expanded-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: gt-america-medium;
    src: url(../fonts/gt-america/medium/GT-America-Expanded-Medium.eot) format("embedded-opentype"), url(../fonts/gt-america/medium/GT-America-Expanded-Medium.otf) format("opentype"), url(../fonts/gt-america/medium/GT-America-Expanded-Medium.woff) format("woff"), url(../fonts/gt-america/medium/GT-America-Expanded-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body,
p {
    font-size: 16px;
    line-height: 25px;
    font-family: canela, serif
}

p {
    letter-spacing: .5px
}

body {
    margin: 0;
    background-color: #FFF;
    color: #000
}

h1 {
    font-size: 37px;
    line-height: 44px;
    font-family: canela, serif
}

@media all and (max-width:768px) {
    h1 {
        font-size: 30px;
        line-height: 40px
    }
}

@media all and (max-width:480px) {
    h1 {
        font-size: 25px;
        line-height: 33px
    }
}

h1.large {
    font-size: 43px;
    line-height: 50px
}

@media all and (max-width:768px) {
    h1.large {
        font-size: 30px;
        line-height: 40px
    }
}

@media all and (max-width:480px) {
    h1.large {
        font-size: 25px;
        line-height: 33px
    }
}

h2 {
    font-size: 28px;
    line-height: 39px;
    font-family: canela, serif
}

@media all and (max-width:768px) {
    h2 {
        font-size: 25px;
        line-height: 35px
    }
}

@media all and (max-width:480px) {
    h2 {
        font-size: 18px;
        line-height: 28px
    }
}

h3 {
    font-size: 24px;
    line-height: 34px;
    font-family: canela, serif
}

.mas_pagination,
.underlined_link,
a.arrow_link,
h4,
h5 {
    font-family: gt-america-medium, sans
}

@media all and (max-width:768px) {
    h3 {
        font-size: 20px;
        line-height: 30px
    }
}

@media all and (max-width:480px) {
    h3 {
        font-size: 16px;
        line-height: 23px
    }
}

.mas_pagination,
.underlined_link,
a.arrow_link,
h4,
h5,
header.main_header {
    font-size: 11px;
    line-height: 15px
}

h4 {
    text-transform: uppercase
}

h5 {
    text-transform: none
}

.mas_pagination,
.underlined_link,
.uppercase,
a.arrow_link {
    text-transform: uppercase
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0 0 20px
}

h1,
h2,
h3 {
    letter-spacing: .4px
}

b,
strong {
    font-weight: 700
}

.akzidenz_body,
.mas_pagination,
.underlined_link,
a.arrow_link,
header.main_header {
    font-weight: 400;
    letter-spacing: .65px
}

a,
a:active,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
    outline: 0
}

.underlined_link,
.wysiwyg p>a {
    text-decoration: underline
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    opacity: 1;
    transition: opacity .3s ease-in-out
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
    opacity: .6
}

.main_wrapper {
    overflow-x: hidden
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto
}

.small_container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto
}

.centered_content_container {
    width: 80%;
    margin: 0 auto
}

.mas_panel {
    padding: 80px 0
}

@media all and (max-width:768px) {
    .centered_content_container {
        width: 100%
    }
    .mas_panel {
        padding: 60px 0
    }
}

.mas_panel.medium {
    padding: 100px 0
}

@media all and (max-width:768px) {
    .mas_panel.medium {
        padding: 60px 0
    }
}

.mas_panel.large {
    padding: 200px 0
}

.acf_component_panel {
    margin-bottom: 50px
}

@media all and (max-width:768px) {
    .mas_panel.large {
        padding: 60px 0
    }
    .acf_component_panel {
        margin-bottom: 20px
    }
}

.mas_row {
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: auto;
    margin: 0 -15px
}

@media all and (max-width:768px) {
    .mas_row {
        margin: 0 -10px
    }
}

.column_1,
.column_1_2,
.column_1_3,
.column_1_4,
.column_2_3,
.column_3_4 {
    position: relative;
    margin: 0 0 30px;
    padding: 0 15px;
    float: left;
    display: inline-block
}

.column_1 img,
.column_1_2 img,
.column_1_3 img,
.column_1_4 img,
.column_2_3 img,
.column_3_4 img {
    display: block
}

.flex_vertical_center {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.column_1 {
    width: 100%
}

.column_1_2 {
    width: 50%
}

@media all and (max-width:568px) {
    .column_1_2 {
        width: 100%
    }
}

.column_1_3 {
    width: 33.33%
}

@media all and (max-width:768px) {
    .column_1,
    .column_1_2,
    .column_1_3,
    .column_1_4,
    .column_2_3,
    .column_3_4 {
        margin: 0 0 20px;
        padding: 0 10px
    }
    .column_1_3 {
        width: 50%
    }
}

.column_2_3 {
    width: 66.66%
}

@media all and (max-width:568px) {
    .column_2_3 {
        width: 100%
    }
}

.column_1_4 {
    width: 25%
}

@media all and (max-width:768px) {
    .column_1_4 {
        width: 50%
    }
}

@media all and (max-width:568px) {
    .column_1_4 {
        width: 100%
    }
}

.column_3_4 {
    width: 75%
}

@media all and (max-width:568px) {
    .column_3_4 {
        width: 100%
    }
}

@media all and (max-width:1023px) {
    .sidebar_layout .column_1_4,
    .sidebar_layout .column_3_4 {
        width: 100%
    }
}

.inspiration_grid .alm-reveal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

button,
input,
textarea {
    border-radius: 0;
    padding: 0;
    -webkit-appearance: none;
    outline: 0
}

a.arrow_link {
    position: relative;
    opacity: 1;
    transition: opacity .2s ease-in-out
}

.underlined_link:hover,
a.arrow_link:hover {
    opacity: .6
}

a.arrow_link:after {
    margin-left: 5px;
    position: absolute;
    bottom: 2px;
    transition: margin .2s ease-in-out
}

a.arrow_link:hover:after {
    margin-left: 8px
}

a.arrow_link.black:after {
    content: url(../img/icons/arrow_right_black.svg)
}

a.arrow_link.white:after {
    content: url(../img/icons/arrow_right_white.svg)
}

.underlined_link {
    cursor: pointer;
    outline: 0;
    transition: all .3s ease-in-out
}

ul.social_icons {
    margin: 0
}

ul.social_icons li {
    display: inline-block;
    margin: 0 10px
}

ul.social_icons li:first-child,
ul.social_icons.flush_left li:first-child {
    margin: 0 10px 0 0
}

ul.social_icons li a {
    opacity: 1;
    transition: opacity .3s ease-in-out
}

ul.social_icons li a:hover {
    opacity: .6
}

ul.social_icons.flush_right {
    text-align: right
}

ul.social_icons.flush_right li:last-child {
    margin: 0 0 0 10px
}

.thumbnail_block .image_container {
    margin-bottom: 10px;
    position: relative;
    display: block
}

header.thumbnail_header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px
}

header.thumbnail_header h4 {
    margin-bottom: 0
}

header.thumbnail_header .left {
    width: 80%
}

header.thumbnail_header .right {
    width: 20%;
    text-align: right
}

.mas_pagination,
.text_center,
.title_header {
    text-align: center
}

.thumbnail_block .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.thumbnail_block .play_button {
    width: 80px
}

button.plyr__play-large {
    background: #000;
    color: #FFF;
    border: 0;
    padding: 15px 30px;
    border-radius: 3px;
    transition: all .3s ease-in-out
}

.menu_icon,
.menu_icon:before {
    border-bottom: 2px solid #000
}

button.plyr__play-large:hover {
    background: #FFF;
    color: #000
}

.plyr--video .plyr__controls button.tab-focus:focus,
.plyr--video .plyr__controls button:hover {
    background: 0 0!important
}

.plyr--video .plyr__controls button.tab-focus:focus .plyr__controls button svg,
.plyr--video .plyr__controls button:hover .plyr__controls button svg {
    fill: #000
}

.plyr__progress--played,
.plyr__volume--display {
    color: #000
}

.mas_pagination {
    padding: 30px 0
}

.mas_pagination .page-numbers {
    color: #C3C2C2;
    cursor: pointer
}

.mas_pagination .page-numbers.current {
    color: #000
}

.mas_pagination .prev:before {
    content: url(../img/icons/arrow_left_black.svg)
}

.mas_pagination .next:before {
    content: url(../img/icons/arrow_right_black.svg)
}

.text_white {
    color: #FFF
}

.text_mediumgrey {
    color: #C3C2C2
}

.background_black {
    background-color: #000;
    color: #FFF
}

.background_white {
    background-color: #FFF;
    color: #000
}

.background_grey {
    background-color: #F9F9F9
}

.title_header {
    margin-bottom: 50px
}

@media all and (max-width:480px) {
    .title_header {
        margin-bottom: 30px
    }
}

.title_header.large {
    margin-bottom: 80px
}

@media all and (max-width:768px) {
    .title_header.large {
        margin-bottom: 60px
    }
}

@media all and (max-width:480px) {
    .title_header.large {
        margin-bottom: 30px
    }
}

.margin_bottom_0 {
    margin-bottom: 0
}

.inline_header {
    width: 100px;
    display: inline-block
}

@media all and (max-width:768px) {
    .inline_header {
        display: block;
        width: auto
    }
}

.akzidenz_body,
.normal_case {
    text-transform: none
}

.akzidenz_body {
    font-family: akzidenz, sans
}

@media all and (max-width:480px) {
    .with_text_breaks br {
        display: none
    }
}

.text_right {
    text-align: right
}

header.main_header {
    position: fixed;
    width: 100%;
    z-index: 20;
    color: #000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 40px;
    top: 0;
    transition: all .3s ease-in-out;
    font-family: gt-america-medium, sans;
    text-transform: uppercase
}

header.main_header.scrolled {
    padding: 15px;
    background: #000;
    color: #FFF
}

body.light_background header.main_header {
    color: #000
}

body.dark_background header.main_header,
body.light_background.has_header_image header.main_header {
    color: #FFF
}

body.light_background.has_header_image header.main_header.dark {
    color: #000
}

.main_header a {
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.main_header a:hover {
    opacity: .5
}

ul.main_header_left li {
    display: inline-block;
    margin-right: 40px
}

@media all and (max-width:768px) {
    header.main_header {
        padding: 15px
    }
    ul.main_header_left li {
        margin-right: 20px
    }
}

.fly_out_menu_trigger {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.fly_out_menu_trigger:hover {
    opacity: .5
}

.breadcrumb_info {
    display: none
}

.follow_link,
.main_header_right {
    display: -webkit-flex;
    display: -ms-flexbox
}

.main_header_right {
    display: flex
}

@media all and (max-width:1023px) {
    .main_header_right {
        display: none
    }
}

.currently_listening_to {
    margin-right: 40px
}

.currently_listening_track {
    cursor: pointer;
    text-transform: none
}

.currently_listening_track.playing {
    -webkit-animation: changeOpacity 1s infinite;
    animation: changeOpacity 1s infinite
}

@-webkit-keyframes changeOpacity {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@keyframes changeOpacity {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

.follow_link {
    display: flex;
    position: relative;
    transition: padding .3s ease-in-out
}

.follow_link span {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.follow_link ul.social_icons {
    margin-right: -100px;
    position: absolute;
    opacity: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    transition: all .3s ease-in-out
}

.follow_link.open {
    padding-right: 80px
}

.follow_link.open span {
    opacity: 0
}

.follow_link.open ul.social_icons {
    margin-right: 0;
    opacity: 1
}

section.fly_out_menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #000;
    color: #FFF;
    z-index: 30;
    max-width: 0;
    overflow: hidden;
    transition: all 1s .3s cubic-bezier(.19, 1, .22, 1)
}

.fly_out_menu_container {
    padding: 30px;
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: all .3s ease-in-out
}

section.fly_out_menu.open {
    max-width: 550px;
    width: 90%;
    transition: all 1s cubic-bezier(.19, 1, .22, 1)
}

section.fly_out_menu.open .fly_out_menu_container {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all .5s .5s ease-in-out
}

header.fly_out_menu_header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

img.fly_out_menu_logo {
    display: block;
    width: 230px
}

@media all and (max-width:480px) {
    img.fly_out_menu_logo {
        width: 150px
    }
}

header.fly_out_menu_header .close_icon {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer
}

header.fly_out_menu_header .close_icon::after,
header.fly_out_menu_header .close_icon::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #FFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .3s ease-in-out
}

.menu_icon:before,
.video_cover:before {
    content: ""
}

header.fly_out_menu_header .close_icon::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

header.fly_out_menu_header .close_icon::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

header.fly_out_menu_header .close_icon:hover::after,
header.fly_out_menu_header .close_icon:hover::before {
    opacity: .6;
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.fly_out_menu_navigation li a {
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.fly_out_menu_navigation li a:hover,
.fly_out_menu_navigation li.current_page_item>a {
    opacity: .6
}

.fly_out_menu_navigation>li>a {
    font-size: 45px;
    line-height: 53px
}

@media all and (max-width:480px) {
    .fly_out_menu_navigation>li>a {
        font-size: 30px;
        line-height: 40px
    }
}

.address_toggle,
.fly_out_menu_navigation ul.sub-menu li {
    font-family: gt-america-medium, sans;
    font-weight: 400;
    letter-spacing: .65px;
    font-size: 11px;
    line-height: 15px
}

.fly_out_menu_navigation ul.sub-menu {
    padding-left: 30px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease-in-out
}

.fly_out_menu_navigation ul.sub-menu.open {
    max-height: 1000px;
    opacity: 1
}

.fly_out_menu_navigation ul.sub-menu li {
    text-transform: uppercase;
    margin-bottom: 13px
}

.address_toggle {
    text-transform: none
}

.address_toggle ul.tab_items {
    margin-bottom: 5px
}

.address_toggle ul.tab_items li {
    display: inline-block;
    color: #666;
    cursor: pointer;
    padding: 0 5px
}

.address_toggle ul.tab_items li:first-child {
    padding: 0 5px 0 0
}

.address_toggle ul.tab_items li.active {
    color: #FFF
}

.address_toggle ul.tab_items span:last-child {
    display: none
}

.page_opacity_overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .8);
    z-index: -10;
    transition: opacity .5s ease-in-out, z-index .5s .5s ease-in-out
}

.page_opacity_overlay.active {
    opacity: 1;
    z-index: 29;
    transition: opacity .5s .1s ease-in-out, z-index .1s ease-in-out
}

header.mobile_header {
    display: none;
    padding: 10px 0
}

@media all and (max-width:768px) {
    header.mobile_header {
        display: block
    }
}

header.mobile_header .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.menu_icon {
    position: relative;
    border-top: 2px solid #000;
    height: 14px;
    width: 20px;
    display: block
}

.menu_icon:before {
    width: 100%;
    position: absolute;
    top: 4px
}

nav.mobile_navigation ul {
    position: relative;
    z-index: 8;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    list-style-type: none;
    background: #000;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease-in-out
}

.instafeed_caption,
.main_footer a {
    transition: opacity .3s ease-in-out
}

nav.mobile_navigation ul.open {
    max-height: 500px;
    opacity: 1;
    z-index: 9
}

nav.mobile_navigation li {
    border-bottom: 1px solid #FFF;
    padding: 10px 0;
    font-size: 14px
}

nav.mobile_navigation li:last-child {
    border-bottom: 0
}

nav.mobile_navigation ul li a {
    color: #FFF
}

.home .footer {
    background: #F9F9F9
}

.footer_logo_container {
    bottom: -130px;
    z-index: 0;
    position: relative
}

.footer_logo {
    width: 100%
}

.main_footer {
    background: #000;
    color: #FFF;
    padding: 80px 0;
    z-index: 10
}

@media all and (max-width:768px) {
    .main_footer {
        padding: 60px 0
    }
}

.main_footer a {
    opacity: 1
}

.main_footer a:hover {
    opacity: .6
}

.footer_top {
    margin-bottom: 40px
}

.footer_bottom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.footer_copyright,
ul.footer_contact {
    display: -webkit-flex;
    display: -ms-flexbox
}

ul.footer_contact {
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 60%
}

@media all and (max-width:1023px) {
    .footer_logo_container {
        bottom: -20px
    }
    ul.footer_contact {
        width: 100%
    }
}

ul.footer_contact li {
    width: 33%;
    margin-bottom: 20px;
    padding-right: 20px
}

.footer_copyright p,
ul.footer_contact p {
    font-family: gt-america-regular, sans;
    font-weight: 400;
    letter-spacing: .65px;
    margin-bottom: 0
}

@media all and (max-width:768px) {
    ul.footer_contact li {
        width: 50%
    }
}

@media all and (max-width:480px) {
    ul.footer_contact li {
        width: 100%
    }
}

ul.footer_contact p {
    text-transform: none;
    font-size: 12px;
    line-height: 16px
}

.footer_copyright {
    width: 40%;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

@media all and (max-width:1023px) {
    .footer_copyright {
        width: 100%;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

.page_header,
.video_cover {
    -webkit-justify-content: center
}

.footer_copyright p {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 14px
}

.mobile_mixitup_filter,
ul.mixitup_filters li {
    letter-spacing: .65px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: gt-america-medium, sans
}

.mas_video_container {
    position: relative
}

.video_cover,
.video_cover:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.video_cover {
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    z-index: 10
}

.video_cover:before {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    display: block
}

@media all and (max-width:768px) {
    .video_cover {
        display: none
    }
}

.instafeed_container,
ul.logo_grid {
    display: -webkit-flex;
    display: -ms-flexbox
}

.video_cover .content {
    position: relative;
    text-align: center
}

.video_cover .play_video {
    cursor: pointer;
    width: 60px
}

.mas_video_container .plyr__controls {
    visibility: hidden
}

.mas_video_container.show_controls .plyr__controls {
    visibility: visible
}

.instafeed_container {
    display: flex;
    margin: 0 -15px
}

.instafeed_item_container {
    width: 33.33%;
    padding-bottom: 33.33%;
    height: 0;
    margin: 0 15px 20px;
    position: relative
}

@media all and (max-width:568px) {
    .instafeed_item_container {
        margin: 0 5px 20px
    }
}

.instafeed_item {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.instafeed_caption {
    background: #000;
    color: #FFF;
    text-align: left;
    padding: 20px;
    height: 100%;
    opacity: 0
}

@media all and (max-width:768px) {
    .mas_video_container .plyr__controls {
        visibility: visible
    }
    .instafeed_caption {
        display: none
    }
}

.instafeed_item:hover .instafeed_caption {
    opacity: 1
}

ul.logo_grid {
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -20px
}

@media all and (max-width:568px) {
    ul.logo_grid {
        margin: 0 -10px
    }
}

ul.logo_grid li {
    width: 20%;
    padding: 0 30px;
    margin-bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

ul.logo_grid li img {
    display: block;
    width: 100%
}

@media all and (max-width:568px) {
    ul.logo_grid li {
        width: 25%;
        padding: 0 10px;
        margin-bottom: 20px
    }
}

.page .image_gallery img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .3s ease-in-out
}

.page .image_gallery img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.alm-btn-wrap {
    text-align: center
}

.alm-btn-wrap .underlined_link.done {
    opacity: .1
}

.flexslider {
    overflow: hidden;
    margin-bottom: 20px
}

.flexslider.header_slider,
.header_overlay_content h1 {
    margin-bottom: 0
}

.flexslider ul.slides {
    overflow: hidden
}

.flexslider ul.slides li {
    margin-left: 0
}

.mas_slider ul.slides li {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: -webkit-filter .3s ease-in-out;
    transition: filter .3s ease-in-out;
    transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out
}

.mas_slider ul.slides li:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0;
    z-index: 10
}

.flexslider .flex-control-paging li a {
    box-shadow: none;
    position: relative;
    border-radius: 0;
    border: 0;
    height: 30px;
    width: 80px;
    opacity: .5;
    background: 0 0
}

.flexslider .flex-control-paging li a.flex-active {
    opacity: 1
}

@media all and (max-width:768px) {
    .flexslider .flex-control-paging li a {
        width: 60px
    }
}

.flexslider .flex-control-paging li a:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 2px
}

.header_slider ul.slides li:before,
.page_header:before {
    content: "";
    bottom: 0;
    left: 0
}

p.slider_caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 20px;
    background: rgba(255, 255, 255, .95)
}

@media all and (max-width:768px) {
    p.slider_caption {
        position: relative;
        padding: 10px 0
    }
}

.header_slider ul.slides li {
    height: 60vh;
    background-size: cover;
    background-position: center
}

.header_slider ul.slides li:before {
    position: absolute;
    background: rgba(0, 0, 0, .3);
    top: 0;
    width: 100%;
    height: 100%;
    display: block
}

.header_overlay_content,
.page_header {
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%
}

.page_header {
    height: 60vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media all and (max-width:568px) {
    .header_slider ul.slides li {
        height: 60vh
    }
    .page_header {
        height: 300px
    }
}

.page_header.full_height {
    height: 100vh
}

@media all and (max-width:768px) {
    .page_header.full_height {
        height: 70vh
    }
}

.page_header.tall {
    height: 85vh
}

@media all and (max-width:768px) {
    .page_header.tall {
        height: 70vh
    }
}

.page_header.narrow {
    height: 40vh
}

@media all and (max-width:568px) {
    .page_header.narrow {
        height: 60vh
    }
}

.page_header:before {
    position: absolute;
    background: #000;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: background 1s ease-in-out
}

body.reveal_header_image .page_header:before {
    background: rgba(0, 0, 0, .3)
}

.header_overlay_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #FFF
}

ul.mixitup_filters {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px
}

ul.mixitup_filters li {
    cursor: pointer;
    padding: 0 20px;
    color: #C3C2C2
}

ul.mixitup_filters li.mixitup-control-active {
    color: #000
}

.mobile_mixitup_filter {
    display: none;
    text-align: center;
    position: relative
}

@media all and (max-width:1023px) {
    ul.mixitup_filters {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        z-index: 10;
        margin-bottom: 20px;
        left: 0;
        transition: all .5s ease-in-out
    }
    ul.mixitup_filters.open {
        max-height: 800px;
        opacity: 1
    }
    ul.mixitup_filters li {
        width: 100%;
        text-align: center;
        margin: 10px 0
    }
    ul.mixitup_filters li:first-child {
        margin: 20px 0 10px
    }
    .mobile_mixitup_filter {
        display: block
    }
}

.mobile_mixitup_filter button {
    font-weight: 400;
    text-transform: uppercase
}

.mobile_filter_title {
    color: #C3C2C2
}

.mobile_mixitup_filter li {
    text-transform: lowercase
}

.mixitup-page-list,
.work_item .overlay_content {
    font-weight: 400;
    letter-spacing: .65px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px
}

.mixitup-page-list {
    font-family: gt-america-medium, sans;
    text-align: center;
    padding: 30px 0
}

.mixitup-control {
    color: #C3C2C2;
    cursor: pointer
}

.mixitup-control-active {
    color: #000
}

.mixitup-control-prev:before {
    content: url(../img/icons/arrow_left_black.svg)
}

.mixitup-control-next:before {
    content: url(../img/icons/arrow_right_black.svg)
}

.mixitup-control-disabled {
    opacity: 0
}

.work_item {
    cursor: pointer;
    position: relative
}

.work_item h4 {
    margin-bottom: 10px
}

.work_item_image_container {
    position: relative;
    display: block
}

.work_item img.wp-post-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 10px;
    transition: all .3s ease-in-out
}

.work_item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255, 255, 255, .3);
    opacity: 0;
    transition: opacity .3s ease-in-out
}

.work_item .overlay img {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: all .5s ease-in-out
}

.work_item .overlay .arrow {
    width: 60px
}

.work_item .overlay_content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: gt-america-regular, sans
}

.work_item:hover img.wp-post-image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.work_item:hover .overlay {
    opacity: 1
}

.work_item:hover .overlay img {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.work_grid {
    margin-bottom: 30px
}

@media all and (max-width:1023px) {
    .work_grid .column_1_3 {
        width: 50%
    }
}

.work_expanded_view_container {
    width: 100%;
    padding: 0 15px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .5s .3s cubic-bezier(.19, 1, .22, 1), opacity .3s ease-in-out
}

.work_expanded_view_container.open {
    opacity: 1;
    max-height: 3000px;
    transition: max-height 1s ease-in-out
}

.work_expanded_view {
    background: #FFF;
    padding-bottom: 15px
}

.work_expanded_view_video {
    margin-bottom: 20px
}

.work_expanded_view_content h4 {
    margin-bottom: 5px
}

.copy_to_clipboard {
    text-align: right;
    color: #C3C2C2;
    cursor: pointer
}

@media all and (max-width:568px) {
    .work_grid .column_1_3 {
        width: 100%
    }
    .copy_to_clipboard {
        text-align: left
    }
}

.close_expanded_view {
    text-align: right;
    margin-bottom: 10px;
    cursor: pointer
}

.wysiwyg {
    overflow: auto
}

body.dark_background .wysiwyg p {
    -webkit-font-smoothing: auto
}

.wysiwig a {
    opacity: 1;
    transition: all .3s ease-in-out
}

.wysiwig a:hover {
    opacity: .6
}

.wysiwyg ol,
.wysiwyg ul {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside
}

.wysiwyg ul {
    list-style: disc
}

.wysiwyg ol {
    list-style: decimal
}

.wysiwyg li {
    margin-left: 1.2em
}

.wysiwyg ul.social_icons li {
    margin-left: 0
}

.wysiwyg table {
    width: 100%!important
}

figure {
    margin: 0 0 20px
}

figure.alignnone {
    max-width: 100%
}

figure.alignnone img {
    width: 100%
}

figure.wp-caption {
    position: relative
}

figcaption.wp-caption-text {
    background: rgba(255, 255, 255, .95);
    padding: 10px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}

@media all and (max-width:768px) {
    figcaption.wp-caption-text {
        position: relative;
        padding: 10px 0
    }
}

.alignleft {
    display: inline;
    max-width: 50%;
    float: left;
    margin: 0 20px 20px 0
}

@media all and (max-width:568px) {
    .alignleft {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0 0 20px
    }
}

.alignright {
    display: inline;
    max-width: 50%;
    float: right;
    margin: 0 0 20px 20px
}

@media all and (max-width:568px) {
    .alignright {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0 0 20px
    }
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

.page_content {
    padding: 130px 0 0
}

@media all and (max-width:768px) {
    .page_content {
        padding: 60px 0 0
    }
}

@media all and (max-width:480px) {
    .page_content {
        padding: 40px 0 0
    }
}

.content_fade_in {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 1s ease-in-out, -webkit-transform 1.5s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 1s ease-in-out, transform 1.5s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 1s ease-in-out, transform 1.5s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1.5s cubic-bezier(.19, 1, .22, 1)
}

body.loaded .content_fade_in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

body.has_header_image .page_content {
    padding: 0
}

body.light_background .page_content {
    background: #FFF;
    color: #000
}

body.dark_background .page_content {
    background: #000;
    color: #FFF
}

.homepage_header .container {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out
}

@media all and (max-width:768px) {
    .homepage_header .container {
        bottom: -23px
    }
}

.homepage_header.logo_fade_in .container {
    opacity: 1
}

.homepage_header img.large_logo {
    width: 100%
}

.homepage_header:before {
    content: "";
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    transition: opacity 1.5s cubic-bezier(.19, 1, .22, 1)
}

.homepage_header.overlay_fade_out:before {
    opacity: 0
}